@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

:root {
    margin: 0;
    padding: 25px;
    background-color: #fa3;
}

.wrapper {
    padding: 15px;
    margin: auto;
}

.menu {
    margin: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu h1 {
    font-size: 72px;
    font-style: italic;
    text-decoration: overline underline double #0af;
}

#jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divOpcoes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 130vh;
    height: clamp(45vh, 50%, 70vh);
    gap: 25px;
}

.divOpcoes div {
    background-color: #bbc4c2;
    padding: 15px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    transition: 0.3s;
}


.divOpcoes div:hover {
    background-color: #686868;
    color: #fff;
}

#modalStart, #modalInst, #modalCred, #modalLoss {
    position: fixed;
    background-color: #ffaacc77;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalStart.open, #modalInst.open, #modalCred.open, #modalLoss.open {
    visibility: visible;
}

.inner-modal {
    width: 50vh;
    padding: 100px 200px;
    border-radius: 15px;
    background: radial-gradient(#0af, #08d);
}

#timer {
    position: fixed;
    top: 5vh;
    right: 5vh;
}

#btnStart {
    background-color: #dbb;
    padding: 20px 75px;
    border-radius: 20px;
    margin: 10px;
}
#btnStart:hover {
    background-color: #fef;
    cursor: pointer;
}

button {
    background-color: #dbb;
    padding: 10px 35px;
    border-radius: 10px;
    margin: 10px;
}

button:hover {
    background-color: #fef;
    cursor: pointer;
}